/* Enter your custom CSS here */

:root {
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;
  
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  line-height: 1.5;
}

::-webkit-scrollbar {
  display: none;
}

#editor .CodeMirror {
  max-width: 70ch;
  margin-left: 4em;
  margin-right: 0;
}


.cm-fenced-code.cm-atom {
	color: #606060 !important;
}

h1,
h2 {
  font-weight: 900;
}

h1 {
  font-size: var(--size-700);
}

h2 {
  font-size: var(--size-600);
}

h3 {
  font-size: var(--size-600);
}


h1 {
  max-width: 15ch;
}

h2,
h3 {
  max-width: 25ch;
}

/* This is for the bullet point icon in ul lists */
.rendered-bullet {
  margin: 0;
  padding: 0 0.2rem;
}

li, p, .rendered-bullet, .cm-line > .cm-list:nth-child(1) {
  margin-left: 2em;
  max-width: 100ch;
}

figure > img {
  margin-left: 2.6em;
  max-width: 100ch;
}
